[submodule "manuscript"]
	path = manuscript
	url = https://git.overleaf.com/5e314e71cb8aaf0001de2efd
[submodule "debCAM"]
	path = debCAM
	url = https://github.com/MahShaaban/debCAM/
[submodule "preprint"]
	path = preprint
	url = https://git.overleaf.com/60389b8cd2827e7637928e16
